* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --prim: rgba(244, 79, 50, 0.83);
  --second: rgb(88, 146, 247);
  --third: rgb(55, 46, 53);
  --light: #eee0e0;
  --dark: #242424;
  --prim-font: "Montserrat", sans-serif;
  --second-font: "McLaren", cursive;
  --bold: 300;
  --low: 50;
  --text-decor: underline wavy;
  --large: 600;
  --medium: 400;
  --small: 100;
}

.html {
  font-family: var(--prim-font);
}

.body {
  background: var(--light);
  padding: 0 16px;
}

.header {
  background-color: var(--prim);
  color: var(--third);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: var(--second-font);
  font-weight: var(--bold);
}

.Tasks {
  background-color: var(--light);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.Tasks h1 {
  font-family: var(--prim-font);
  font-size: medium;
  font-weight: var(--low);
}

.Tasks p {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.CreateTasks {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.CreateTasks form {
  position: relative;
  width: 400px;
  padding: 15px;
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.CreateTasks input,
.CreateTasks textarea {
  width: 80%;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  padding: 8px;
  font-family: var(--prim-font);
  margin: 30px;
}

.CreateTasks button {
  position: absolute;
  right: 15px;
  bottom: -18px;
  background: var(--second);
  color: var(--dark);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.blank {
  width: 70%;
  height: 5px;
  background-color: var(--third);
  border: none;
  border-radius: 30px;
  margin: 30px auto;
}

.Tasks {
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  padding: 15px;
  width: 240px;
  margin: 16px;
  float: left;
}

.Tasks h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

.Tasks p {
  font-size: 14px;
  margin-bottom: 30px;
}

.Tasks button {
  background: transparent;
  border: none;
  color: var(--dark);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  display: inline-block;
  margin: 5px;
 transform: translateY(0);        
  transition: transform 0.3s ease;  
}

.Tasks button:hover{
  color: var(--prim);
  text-decoration: underline;
  transform: translateY(-5px); 
} 

